body{
    margin: 0;
    padding: 0;
    color: whitesmoke;
}
#main{
    background-image: url("https://s.imgur.com/desktop-assets/desktop-assets/homebg.e52b5cdf24f83bcd55f9f1318855f2ef.png");
}
#navdiv{
    width:90%;
    height: 50px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    position: fixed;
    background-color: #191948;
    
}
#imgdiv {
    width: 10%;
    height: 49px;
    /* border: 1px solid; */
}
#imgdiv img{
    width: 100%;
    height: 90%;
    margin-top: 10px;
}
#searchdiv{
    width: 40%;
    /* border: 1px solid rebeccapurple; */
}
#searchbar{
    width: 100%;
    margin-top: 5px;
    padding: 10px;
}
#logindiv {
    margin-top: 15px;
}
#logindiv a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
#displayImage{
    height: 250px;
    overflow: hidden;
    border: 1px solid transparent;
}
#belowdiv h3 {
    text-align: center;
}
#belowdiv h5{
    margin-left: 105px;
}
#explore{
    width: 80%;
    height: 180px;
    margin: auto;
    display: flex;
    /* border: 1px solid red; */
}

#explore>div img{
    height: 99px;
    width: 90%;
}
#explore>div h5{
    margin-left: 5px;
    margin-top: 1px;
}